@{
    ViewData["Title"] = "Mi mascota favorita";
    ViewData["Imagen"]="Mascota.jpg";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>


    <article>        
        <div>
            <img src="~/images/@ViewData["Imagen"]" alt="Imagen de mi mascota favoria">
        </div>
        <h2>Sobre mi perrita Shih Tzu</h2>

        <p>Mi perrita Shih Tzu es una compañera llena de amor y alegría. Con su pelaje suave y ojos expresivos, siempre sabe cómo sacarme una sonrisa. Aunque es pequeña, su personalidad es inmensa, y le encanta estar rodeada de su familia. Le fascina acurrucarse en su cama favorita después de un día lleno de aventuras y juegos. Su lealtad y dulzura la convierten en el centro de atención en nuestro hogar.</p>

    </article>

</div>
